body {
    background: linear-gradient(rgb(211, 227, 140), rgb(33, 33, 181));
}
.clock {
    position: absolute;
    top: 250px;
    left: 500px;
    color:black;
    font-size: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: normal;
}
.MorningorEvening {
    position: absolute;
    top: 100px;
    left: 480px;
    color: rgb(42, 147, 32);
    font-size: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: normal;
}
button {
    position: absolute;
    top: 400px;
    left: 400px;
    color: orange;
    background-color: transparent;
    font-size: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: normal;
}